Repository LightXEthan/uwahs-campus-map, pull requests merged in 2019-10, with the labels that each got.

#110 Fix error when poi has no image
  src/components/MapPOIInfo/index.js
Labels: bug

#109 Upgrade firestore 3
  documentation/README.md
  src/components/Firebase/firebase.js
  src/components/MapPOIInfo/index.js
  src/components/POIEditForm/index.js
  src/components/POIForm/index.js
Labels: enhancement, map-back

#116 Add reset file input after upload
  src/components/POIEditForm/index.js
Labels: bug

#121 Map front/feat/img name desc
  src/components/MapPOIInfo/index.js
  src/components/MapPage/index.js
Labels: enhancement, map-front

#127 Map front/feat/search
  package.json
  src/components/MapPOIList/index.js
Labels: enhancement, map-front

#135 Map front/poi markers
  src/components/Map/index.js
  src/components/Map/infoIcon.png
  src/components/Map/locateMarkerPoint.png
Labels: map-front, style

#138 add audio description and change style
  src/components/MapPOIInfo/index.js
Labels: enhancement, map-front

#137 wrap long words
  src/components/MapPOIInfo/index.js
Labels: bug, map-front

#136 Map front/feat/about page
  src/components/About/index.js
  src/components/AboutPage/index.js
  src/components/App/index.js
  src/components/MapPage/index.js
Labels: enhancement, map-front

#144 Map front/refactor/style
  src/components/MapPOIList/index.js
  src/components/MapPage/index.js
Labels: map-front, style

#142 Map front/button hide po i
  src/components/Map/index.js
  src/components/Map/retroStyleLabel.json
  src/components/MapPage/index.js
Labels: enhancement, map-front

#139 Map front/reset view
  src/components/Map/index.js
  src/components/MapPage/index.js
Labels: enhancement, map-front

#154 add center on user functionality and minor style changes
  src/components/Map/index.js
  src/components/MapPOIList/index.js
  src/components/MapPage/index.js
Labels: enhancement, map-front, style

#159 update map style
  src/components/Map/index.js
  src/components/Map/retroStyle.json
  src/components/Map/retroStyleLabel.json
Labels: map-front, style
